body {
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
}

.bloques-en-linea {
    border: 2px solid #16a085;
    text-align: center;
}

.bloques-en-linea .elemento {
    display: inline-block;
    width: 24.5%;
    text-align: left;
}

.tipo-tabla {
    border: 2px solid #ea0012;
}

.tipo-tabla .elemento {
    display: table-cell;
    width: 1%;
    vertical-align: middle;
}

.tipo-float {
    border: 2px solid #41448b;
}

.tipo-float .elemento {
    width: 25%;
    float: left;
}